.card__item {
  width: 282px; /*высоту лучше не задавать, она будет зависеть от количества контента внутри контейнера.*/
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  transition: 0.9s ease-in-out;
}
